# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
*.log

# Database
db.sqlite3

# Media uploads
# Uncomment this if you DON'T want customer/product uploads in GitHub
# media/

# Environment/secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db